section[data-theme="default"] {
  min-height: 100vh;
  width: 100%;

  & > .anim__wrapper {
    width: inherit;
    height: inherit;
  }
}

section[data-theme="sub-profile"] {
  /* background: blue; */

  min-height: 100vh;
  overflow: hidden;

  & > .anim__wrapper {
    /* background: red; */

    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    display: none;

    min-width: 300px;
    max-width: 960px;
    width: 50%;
    right: 50%;

    padding: 0 calc(var(--spacing-single) * 2);

    display: flex;
    flex-direction: column;
    justify-content: center;

    perspective: 1500px;

    & > .anim__item {
      width: 100%;
    }
  }
}

@media (orientation: portrait) {
  section[data-theme="sub-profile"] {
    justify-content: center;

    & > .anim__wrapper {
      top: 60%;
      width: 100%;
      transform: translate(50%, -50%);
    }
  }
}

@media (orientation: portrait) and (max-height: 960px) {
  section[data-theme="sub-profile"]:not(:first-child) {
    & > .anim__wrapper {
      top: 50%;
    }
  }
}
