@use "../../layout.scss";

.list {
  padding: layout.$spacing;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: layout.$icon-size;

  & > li {
    height: layout.$icon-size;
    aspect-ratio: 1 / 1;
  }
}
