@use "../../debug.scss";
@use "../../layout.scss";

.tracker {
  height: 150vh;
}

.wrapper {
  left: 0;
  right: 0;
  top: calc(100vh - layout.$bottom-bar-height / 2);

  transform: translate(0%, -50%);

  min-height: layout.$bottom-bar-height;
  width: 100%;
  margin: 0 auto;
  padding: layout.$spacing;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.toolbox {
  width: 100%;
  height: 100%;

  background-color: white;
  border-radius: layout.$radius;

  color: black;
}
