[data-component="navbar"] {
  height: 100vh;

  position: fixed;
  top: 0;
  right: var(--spacing-single);
  z-index: 10;

  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 0.05rem;

  writing-mode: vertical-lr;

  padding-top: var(--spacing-single);
  padding-bottom: calc(var(--tools-h) + var(--spacing-single) * 2);

  & > menu {
    display: flex;
    justify-content: end;
    align-items: center;

    gap: var(--spacing-double);

    & > [data-component="separator"] {
      height: 128px;

      border: solid 0 var(--foreground);
      border-left-width: 1px;
      border-bottom-width: 1px;
    }

    & > [data-component="social-link"] {
      --size: 32px;

      width: var(--size);
      height: var(--size);

      transform: rotate(90deg);

      flex-shrink: 0;
    }
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  [data-component="navbar"] {
    height: auto;
    width: 100vw;

    writing-mode: horizontal-tb;

    padding: var(--spacing-single);

    & > menu {
      & > [data-component="separator"] {
        width: 128px;
        height: 0;
      }
      & > [data-component="social-link"] {
        transform: rotate(0deg);
      }
    }
  }
}
