@use "../debug.scss";
@use "../layout.scss";

.tracker {
  height: 100vh;
}

.wrapper {
  position: sticky;
  top: 0;

  height: calc(100vh - layout.$bottom-bar-height);

  &[data-anim] {
    visibility: hidden;
  }

  &:before {
    content: "";

    position: absolute;
    top: layout.$spacing;
    right: layout.$spacing;
    bottom: 0;
    left: layout.$spacing;
    z-index: -10;

    border-radius: layout.$radius;
    background-image: radial-gradient(
      circle at top left,
      rgba(0, 191, 255, 1),
      rgba(32, 167, 239, 0.88),
      rgba(64, 143, 223, 0.75),
      rgba(96, 119, 207, 0.63),
      rgba(128, 95, 190, 0.5),
      rgba(159, 72, 174, 0.38),
      rgba(191, 48, 158, 0.25),
      rgba(223, 24, 142, 0.13),
      rgba(255, 0, 126, 0) 75%
    );
  }
}

.content {
  position: relative;

  width: 90%;
  max-width: 720px;
  height: 100%;

  margin: 0 auto;

  & > * {
    width: 100%;
  }
}

.intro {
  position: relative;

  transform: translate(0%, -50%);
  top: 60%;
  z-index: 10;
}

.portrait {
  position: absolute;

  top: 0%;
  height: 60%;
}

@media (orientation: landscape) {
  .content {
    max-width: calc(2 * 920px);

    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;

    gap: 10px;

    & > * {
      all: unset;

      position: relative;
      height: 100%;
    }
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
