@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
  --contour: rgb(75, 75, 75);
  --snippet-tab-size: 2rem;
  --spacing-single: 1rem;
  --spacing-double: calc(var(--spacing-single) * 2);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-red-hat);
  font-weight: 400;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  font-weight: 300;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5rem;
}

h2 {
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 0.02rem;
}

@media (max-width: 576px) {
  :root {
    --snippet-tab-size: 1.5rem;
    --spacing-single: 0.5rem;
  }
}

@media (max-width: 440px) {
  :root {
    --snippet-tab-size: 1rem;
  }
}
