@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-coords: 10, 10, 10;
  --background: rgb(var(--background-coords));
  --foreground: #ffffff;
  --primary: rgb(0, 191, 255);
  --secondary: rgb(255, 0, 126);
  --subtle: #c1c1c1;
  --contour: rgba(255, 255, 255, 0.2);
  --snippet-tab-size: 2rem;
  --spacing-single: 1rem;
  --spacing-double: calc(var(--spacing-single) * 2);
  --tools-h: 64px;
  --tools-p: calc(var(--tools-h) * 0.25);
  --tools-gap: calc(var(--tools-h) * 0.5);
}

@media (max-width: 576px) and (orientation: portrait),
  (max-height: 576px) and (orientation: landscape) {
  :root {
    --snippet-tab-size: 1.5rem;
    --spacing-single: 0.5rem;
    --tools-h: 48px;
  }
}

@media (max-width: 440px) {
  :root {
    --snippet-tab-size: 1rem;
  }
}

html {
  font-size: 14px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-red-hat);
  font-weight: 400;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  font-weight: 300;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5rem;
}

h2 {
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 0.02rem;
}
