main {
  height: 300vh;
}

.layout {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  padding: var(--layout-spacing);
  display: flex;
  flex-direction: column;
  gap: var(--layout-spacing);
  overflow: hidden;
}

.section__group {
  height: 100%;
  width: 200%;
  display: flex;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: var(--layout-spacing);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  overflow: hidden;
}

.anim__frame-0 {
  background-image: radial-gradient(
    circle at top left,
    rgba(0, 191, 255, 1),
    rgba(32, 167, 239, 0.88),
    rgba(64, 143, 223, 0.75),
    rgba(96, 119, 207, 0.63),
    rgba(128, 95, 190, 0.5),
    rgba(159, 72, 174, 0.38),
    rgba(191, 48, 158, 0.25),
    rgba(223, 24, 142, 0.13),
    rgba(255, 0, 126, 0) 75%
  );
}

.portrait {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  & > img {
    height: 100%;
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    filter: drop-shadow(0 25px 25px rgba(0, 0, 0, 0.25));
  }
}

.frame__group {
  height: 100%;
  width: 100%;
  perspective: 1500px;
}

.frame__item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tools__table {
  filter: drop-shadow(var(--shadow-massive));
  padding: var(--spacing-single);
}

.tools__bar {
  height: var(--tools-h);
  padding: var(--tools-p);
  gap: var(--tools-gap);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (orientation: landscape) {
  section {
    display: grid;
    place-items: center;
    grid-template-columns: minmax(0, 1fr) repeat(2, minmax(300px, 960px)) minmax(
        0,
        1fr
      );
    grid-template-rows: 1;
  }

  .portrait {
    order: 2;
    grid-column-start: 3;

    img {
      z-index: 10;
    }
  }

  .frame__group {
    position: relative;
    order: 1;
    grid-column-start: 2;
  }
}

@media (orientation: portrait) {
  .portrait {
    height: 60%;
  }

  .frame__group {
    position: absolute;
    height: 100%;
  }

  .frame__item {
    padding: 0 var(--spacing-single);
    max-width: 960px;
    margin: 0 auto;
  }

  .frame__item.anim__frame-1 {
    max-width: 720px;
    top: 25%;
  }
}

@media (orientation: portrait) and (min-height: 960px) {
  .frame__item {
    top: 25%;
  }
}
