@use "../../debug.scss";
@use "../../layout.scss";

.tracker {
  height: 300vh;
}

.wrapper {
  position: sticky;
  top: 0;

  height: calc(100vh - layout.$bottom-bar-height);

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.items {
  position: relative;

  width: 100%;
  max-width: 960px;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: layout.$spacing;

  & > * {
    position: relative;
    width: 100%;
  }
}

.code {
  min-height: 500px;
  flex-grow: 1;
}

@media (min-height: 920px) and (min-width: 960px) {
  .items {
    height: max-content;
  }
}
