@use "../debug.scss";
@use "../layout.scss";

.tracker {
  height: 100vh;
}

.wrapper {
  height: calc(100vh - layout.$bottom-bar-height);

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.items {
  position: relative;

  width: 100%;
  max-width: 960px;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 50px;

  padding: layout.$spacing;

  & > * {
    position: relative;
    width: 100%;
  }
}

.code {
  min-height: 500px;
  flex-grow: 1;
}

.git {
  display: flex;
  justify-content: center;
}

@media (min-height: 920px) and (min-width: 960px) {
  .tracker {
    height: 300vh;
  }

  .wrapper {
    position: sticky;
    top: 0;
  }

  .items {
    height: max-content;

    &[data-anim] {
      visibility: hidden;
    }
  }
}
